
<section>
    <div class="container">
      <div id="card-1">
        <!-- add category main-card -->
      </div>
      <div id="card-2">
        <!-- add category event-->
      </div>
        <div class="container">
          <div id="card-3">
            <!-- add category action step-->
          </div>
          <div id="card-4">
            <!--add category blog post-->
          </div>
       </div>
  </div>
  <div class="action-step">
    <!--maybe make this into an include file that that I can add to other pages, then style with wrappers. -->
  </div>
</section>
