section
    #card-1
        // add category main-card 
    #card-2
        // add category event
    #card-3
        // add category action step
    #card-4
        //add category blog post
    .action-step
        //maybe make this into an include file that that I can add to other pages, then style with wrappers. 
