
<section>
    <div class="container">
      <div id="card-1">
        <!-- add category main-card -->
      </div>
      <div id="card-2">
        <!-- add category event-->
      </div>
        <div class="container">
          <div id="card-3">
            <!-- add category action step-->
          </div>
          <div id="card-4">
            <!--add category blog post-->
          </div>
       </div>
  </div>
  <div class="action-step">
    <div class="wrap">
    <h2>Action Step</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sed sollicitudin lacus. 
    Aliquam fringilla, justo sed auctor posuere, felis eros eleifend sem, blandit finibus odio nisl
     ut odio. Donec a urna a purus porta semper. Pellentesque sed lacus lorem. Curabitur at 
     orci arcu. </p>
     </div>
    <button>Do This</button>
  </div>
</section>
