$height: 38vw
$margin: 1vw


.positioner
    margin: 0 auto
    max-width: 68em
    
    
@media (max-width: $large)  
section
    
    .container
        display: flex

        a
            display: flex
            flex-direction: column
            flex: 1
            #card-1
                display: flex
                flex: 1
                background:
                    image: url('/img/feature-images/spike-square.png')
                    size: cover
                    position: center
                margin: $margin
    .wrap
        display: flex
        flex-direction: column
        justify-content: space-around

        a
            #card-2
                @include size($height $height/2)
                background:
                    image: url('/img/feature-images/guitar-man.jpg')
                    size: cover
                    position: center
            margin: $margin

            
        .wrapper
            display: flex


            a
                #card-3
                    @include size(($height/2)-$margin)
                    background:
                        image: url('/img/feature-images/redsun-square.png')
                        size: cover
                        position: center
            a
                #card-4
                    @include size(($height/2)-$margin)
                    background: 
                        image: url('/img/feature-images/lion-square.png')
                        size: cover
                        position: center
