header
    display: flex
    justify-content: space-between
    align-items: center


    
    .logo
        height: 60px
        svg
            fill: #444
            
    
    nav
        display: flex
        justify-content: flex-end
        a
            margin: 0 $card-margin

            font:
                weight: 700
            text-transform: uppercase
            color: $primary-font-color
        
