$card-margin: 0.93vh
$card-height: 60vh


//Media Queries: @media (max-width: $small)
$small: 30em
$medium: 58em
$large: 68em
//for xlarge: @media (min-width: $large)



//Fonts
$open-sans: Open Sans
$montserrat: Montserrat
$primary-font-color: black
